@import "tailwindcss";

@theme {
  --color-card: #ff7f51;
  --color-focus-ring: #ff9b54;
}

@layer components {
  .card {
    @apply flex flex-col items-center justify-between
           max-w-lg w-400
           bg-white/30 backdrop-blur-md border border-white/30
           shadow-lg p-6 rounded-lg;
  }
  .field {
    @apply border block w-full p-2.5 text-sm rounded-lg border-gray-300 text-white  focus:text-black focus:ring;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background: rgb(79, 0, 11);
  background: linear-gradient(
    90deg,
    rgba(79, 0, 11, 1) 0%,
    rgba(206, 66, 87, 1) 50%,
    rgba(255, 155, 84, 1) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
